#app {

    display:grid;

    grid-template-columns:220px 1fr;

    min-height:100vh;

}



.sidebar {

    background:#08131b;

    border-right:1px solid var(--panel-border);

    padding:20px;

}



main {

    padding:10px 25px 25px 25px;

}



.header {

    display:flex;

    justify-content:space-between;

    align-items:center;

}



.dashboard-grid {


    display:grid;


    grid-template-columns:340px 1fr;


    gap:12px;


    margin-top:12px;

}



.full-width {


    grid-column:1 / -1;


}




.live-tall {


    grid-column:2;


    grid-row:span 2;


}



/* untere Reihe */


#priority-dx {


    grid-column:1;


}



#recommendations {


    grid-column:2;


}
