:root {

    --background: #050b10;
    --panel: #0d1720;
    --panel-border: #1d3442;

    --cyan: #00e5ff;
    --green: #8cff00;
    --yellow: #ffc400;
    --orange: #ff9800;
    --red: #ff5252;

    --text: #ffffff;
    --muted: #9aa7b0;

}
