<div class="card">

    <h2>CLUSTER CONNECTIONS</h2>


    <div class="cluster-list">


        <div class="cluster-item">
            <span class="status-online"></span>
            HB9ON Cluster
            <span class="cluster-status">
                Connected
            </span>
        </div>


        <div class="cluster-item">
            <span class="status-online"></span>
            DXSpider
            <span class="cluster-status">
                Connected
            </span>
        </div>


        <div class="cluster-item">
            <span class="status-online"></span>
            DX Summit
            <span class="cluster-status">
                Connected
            </span>
        </div>


        <div class="cluster-item">
            <span class="status-online"></span>
            PSK Reporter
            <span class="cluster-status">
                Connected
            </span>
        </div>


        <div class="cluster-item">
            <span class="status-online"></span>
            Reverse Beacon Network
            <span class="cluster-status">
                Connected
            </span>
        </div>


    </div>

</div>
