<div class="card propagation-bar">

    <h2>Propagation Overview</h2>


    <div class="propagation-content">


        <!-- Solar Daten -->

        <div class="solar-data">


            <div class="sun-icon">
                ☀
            </div>


            <div>
                Solar Flux
                <strong id="solarFlux">--</strong>
            </div>


            <div>
                A-Index
                <strong id="aIndex">--</strong>
            </div>


            <div>
                K-Index
                <strong id="kIndex">--</strong>
            </div>


        </div>



        <!-- Band Conditions -->

        <div class="band-section">


            <div class="band-labels">

                <span>6m</span>
                <span>10m</span>
                <span>12m</span>
                <span>15m</span>
                <span>17m</span>
                <span>20m</span>
                <span>30m</span>
                <span>40m</span>
                <span>60m</span>
                <span>80m</span>

            </div>



            <div class="band-chart">

    <svg id="bandGraph"
         viewBox="0 0 600 40"
         preserveAspectRatio="none">
    </svg>

</div>


        </div>


    </div>


</div>
