<div class="card propagation-bar">

    <h2>Propagation Overview</h2>


    <div class="propagation-content">


        <!-- Solar Daten -->

        <div class="solar-data">


            <div class="sun-icon">
                ☀
            </div>


            <div>
                Solar Flux
                <strong id="solarFlux">--</strong>
            </div>


            <div>
                A-Index
                <strong id="aIndex">--</strong>
            </div>


            <div>
                K-Index
                <strong id="kIndex">--</strong>
            </div>


        </div>

<!-- SIDC Forecast -->

<div class="sidc-forecast">

    <div class="sidc-title">
        SIDC FORECAST
    </div>

    <div class="sidc-values">

        <div class="sidc-item">

            <span>F10.7</span>

            <div class="sidc-scale">
                <div class="sidc-scale-fill"
                     id="sidc-f107-scale">
                </div>
            </div>

            <strong id="sidc-f107">--</strong>

        </div>


        <div class="sidc-item">

            <span>Ap</span>

            <div class="sidc-scale">
                <div class="sidc-scale-fill"
                     id="sidc-ap-scale">
                </div>
            </div>

            <strong id="sidc-ap">--</strong>

        </div>

    </div>

</div>

        <!-- Band Conditions -->

        <div class="band-section">


            <div class="band-labels">

                <span>10m</span>
                <span>12m</span>
                <span>15m</span>
                <span>17m</span>
                <span>20m</span>
                <span>30m</span>
                <span>40m</span>
                <span>60m</span>
                <span>80m</span>

            </div>



            <div class="band-chart">

                <svg id="bandGraph"
                     viewBox="0 0 600 40"
                     preserveAspectRatio="none">
                </svg>

            </div>


        </div>



        <!-- Station Status Inline -->

        <div class="station-inline">


            <div class="station-title">
                Station
            </div>


            <div id="station-inline-content">
                Not configured
            </div>


        </div>


    </div>


</div>
