<aside class="sidebar">

    <div class="brand">

        <img
            src="assets/shack-server-logo.png"
            class="logo"
            alt="SHACK-SERVER">

        <div class="brand-name">
            SHACK-SERVER
        </div>

    </div>


    <div id="system-status"></div>


    <nav>

        <a class="active" href="#">
            Dashboard
        </a>

        <a href="#">
            Activity
        </a>

        <a href="#">
            Propagation
        </a>

        <a href="#">
            Station
        </a>

        <a href="#">
            Sources
        </a>

        <a href="#">
            Statistics
        </a>

        <a href="#">
            Alerts
        </a>

        <a href="#">
            Settings
        </a>

    </nav>

</aside>
