<h2>Station Status</h2>

<div class="station-grid">

    <div>
        Transceiver
        <strong id="station-radio">--</strong>
    </div>

    <div>
        CAT
        <strong id="station-cat">--</strong>
    </div>

    <div>
        Frequency
        <strong id="station-frequency">--</strong>
    </div>

    <div>
        Mode
        <strong id="station-mode">--</strong>
    </div>

    <div>
        Power
        <strong id="station-power">--</strong>
    </div>

</div>

<p id="station-status" class="status-warning">
    --
</p>
