<div class="system-status">

    <h3>SERVER STATUS</h3>


    <div class="status-line">
        🟢 <span id="server-state">Online</span>
    </div>


    <div class="status-line">
        🌡 <span id="cpu-temp">--</span> °C
    </div>


    <div class="status-line">
        🌐 <span id="server-ip">--</span>
    </div>


    <div class="status-line">
        💾 Disk <span id="disk-usage">--</span>
    </div>


    <div class="status-line">
        🧠 RAM <span id="ram-usage">--</span>
    </div>


    <div class="status-line">
        🐳 Docker <span id="docker-status">--</span>
    </div>


    <div class="status-line">
        🗄 Database <span id="db-status">--</span>
    </div>


</div>
